<!-- Navbar -->
<nav class="navbar navbar-expand-lg bg-primary navbar-light">
  <div class="container">
    <a class="navbar-brand" href="/admin-dashboard">Bharat Trains</a>
    <button class="navbar-toggler" type="button" data-mdb-collapse-init data-mdb-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <i class="fas fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto align-items-center">
        <li class="nav-item">
          <a class="nav-link mx-2" routerLink="/admin-dashboard/add-routes"><i class="fas fa-plus-circle pe-2"></i>Add Routes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link mx-2" routerLink="/admin-dashboard/add-trains"><i class="fas fa-plus-circle pe-2"></i>Add Trains</a>
        </li>
        <li class="nav-item">
          <a class="nav-link mx-2" routerLink="/admin-dashboard/get-users"><i class="fas fa-bell pe-2"></i>Get Users</a>
        </li>
        <li class="nav-item ms-3">
          <a class="btn btn-dark btn-rounded" routerLink="/admin-dashboard/add-station">Add Station</a>
        </li>

      </ul>
    </div>
  </div>
</nav>