<app-navbar></app-navbar>
<div class="container mt-5">
    <h2 class="mb-4">Users Management</h2>
    
    <!-- Fetch Users Button -->
    <button class="btn btn-primary mb-4" (click)="submit()">Get All Users</button>
    
    <!-- Users Table -->
    <div class="card mb-4" *ngIf="users.length > 0">
      <div class="card-header">
        <h3>Users List</h3>
      </div>
      <div class="card-body">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>User ID</th>
              <th>Username</th>
              <th>Email</th>
              <th>Phone No</th>
              <th>Address</th>
              <th>Role</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let user of users">
              <td>{{ user.userId }}</td>
              <td>{{ user.username }}</td>
              <td>{{ user.email }}</td>
              <td>{{ user.phoneno }}</td>
              <td>{{ user.address }}</td>
              <td>{{ user.role }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
